<launch>
  <include file="$(find rplidar_ros)/launch/rplidar.launch"/>
  <node name="tf_rplidar_laser" pkg="tf" type="static_transform_publisher" args="0 0 -0.01 0 0 180 1 base_link laser 100" />
  <node name="kmm_steering" pkg="kmm_drivers" type="kmm_steering_node.py"></node>
  <node name="kmm_position" pkg="kmm_position" type="kmm_position_node"/>  
</launch>
