<launch>
  <rosparam>
    map_rows: 26
    map_cols: 51
    cell_size: 0.4
  </rosparam>
  <include file="$(find rplidar_ros)/launch/rplidar.launch"/>
  <node name="tf_rplidar_laser" pkg="tf" type="static_transform_publisher" args="0 0 -0.01 0 0 180 1 base_link laser 100" />
  <node name="kmm_gamepad_to_vel" pkg="kmm_gamepad" type="kmm_gamepad_to_vel_node"/>
  <node name="kmm_steering" pkg="kmm_drivers" type="kmm_steering_node.py"/>
  <node name="kmm_input" pkg="kmm_drivers" type="kmm_input_node.py"/>
  <node name="kmm_position" pkg="kmm_position" type="kmm_position_node"/>
  <node name="kmm_mapping" pkg="kmm_mapping" type="kmm_mapping_node"/>
  <node name="kmm_navigation" pkg="kmm_navigation" type="kmm_navigation_node"/>
  <node name="kmm_exploration" pkg="kmm_exploration" type="kmm_exploration_node"/>
</launch>
