*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100%;
}

.menu {
  position: fixed;
  width: 100%;
  height: 50px;
  background: linear-gradient(#333, #111);
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
  overflow: visible;
  z-index: 9999;
  font-size: 14px;
  z-index: 1;
  font-size: 0;
}

.menu-option-wrap {
  display: inline-block;
  border-right: 1px solid rgba(255,255,255,0.1);
}

.menu-option {
  color: #eee;
  padding: 17px;
  position: relative;
  user-select: none; /* Standard */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  font-size: 14px;
  background-repeat: no-repeat;
  background-position: left 10px center;
  background-size: 22px;
  padding-left: 40px;
}

.menu-option:not(.menu-option-inactive):hover {
  background-color: #000;
  cursor: pointer;
}

.menu-option-inactive {
  opacity: 0.3;
}

#go-to {
  background-image: url("img/goto.png");
}

#debug-option {
  background-image: url("img/debug.png");
}

.dropdown {
  display: none;
  position: absolute;
  width: 275px;
  left: 0;
  top: 50px;
  background: #222;
  padding: 10px 0;
}

.menu-option:hover .dropdown {
  display: block;
}

.dropdown-row {
  padding: 5px 20px;
  user-select: none; /* Standard */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
}

.dropdown-text {
  float: left;
  cursor: pointer;
  padding-right: 20px;
}

.dropdown-checkbox {
  float: right;
}

.clear {
  clear: both;
}

.sidebar {
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  width: 490px;
  background: #fff;
  padding: 20px;
  box-shadow: -5px 0 5px rgba(0,0,0,0.2);
  z-index: 2;
}

.table-info {
  width: 100%;
  font-size: 16px;
  border-collapse: collapse;
}

.table-info-header {
  padding: 10px;
  text-align: center;
  margin-top: 30px;
}

.table-info td {
  padding: 0;
}

.table-info-data {
  width: 110px;
}

.table-info-label div, .table-info-data div {
  margin: 0;
  border: 1px solid #ddd;
  font-size: 12px;
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
}

.table-info-label div {
  background: linear-gradient(#ddd, #bbb);
  text-align: right;
  color: #222;
  border-color: #bbb;
  border-radius: 5px 0 0 5px;
}

.table-info-data div {
  text-align: center;
  border-left: 0;
  margin-right: 10px;
  border-radius: 0 5px 5px 0;
}

.table-info-data:last-child div {
  margin-right: 0;
}

#map-container {
  position: fixed;
  top: 50px;
  left: 0;
  right: 450px;
  bottom: 0;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.controls {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 10px;
}

.map-button {
  background: #ccc;
  cursor: pointer;
  display: inline-block;
  user-select: none; /* Standard */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
}

.map-button:hover {
  background: #ddd;
}

.zoom-button {
  color: #646464;
  border-radius: 2px;
  font-family: "Inconsolata";
  font-size: 28px;
  text-align: center;
  padding: 0 10px;
  width: 36px;
  height: 36px;
}

#view-state-button {
  width: 70px;
  padding: 10px;
  border-radius: 2px;
  text-align: center;
}

#center-view-button {
  width: 36px;
  height: 36px;
  cursor: pointer;
  background: rgba(0,0,0,0);
  background: url("img/centerViewButton.png") center no-repeat;
  background-size: cover;
}

/* Mode slider */
.switch {
  position: relative;
  display: inline-block;
  /*left: 150px;*/
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  -webkit-transition: .4s;
  transition: .4s;
  background-color: #aaa;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3; /* Blue */
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Fireworks */
#fireworks-container {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  pointer-events: none; /* Click-through */
}

#fireworks {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
}
