*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100%;
}

.menu {
  position: fixed;
  width: 100%;
  height: 50px;
  background: #222;
  color: #fff;
  overflow: visible;
  z-index: 9999;
}

.menu-option {
  display: inline-block;
  color: #f2f2f2;
  padding: 17px;
  cursor: pointer;
  position: abolute;
}

.menu-option:hover {
  background-color: rgba(156, 39, 176, 0.8);
}

.dropdown {
  display: none;
  position: absolute;
  background: red;
  width: 200px;
  padding: 10px;
  left: 0;
  top: 50px;
}

.menu-option:hover .dropdown {
  display: block;
}

.sidebar {
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  width: 400px;
  background: #CE93D8;
  padding: 20px;
}

.sidebar .table-info {
  width: 100%;
}

.sidebar .table-info tr {
  padding: 10px 2px;
  font-size: 16px;
}

.sidebar .table-info tr:nth-child(odd) {
  font-weight: bold;
  font-size: 20px;
}

.sidebar .table-info td {
  width: 16.6666%;
}

.sidebar .table-info td:nth-child(odd) {
  text-align: right;
  padding: 10px 2px;
}

#map-container {
  position: fixed;
  top: 50px;
  left: 0;
  right: 400px;
  bottom: 0;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.controls {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 10px;
}

.map-button {
  background: #ccc;
  cursor: pointer;
  display: inline-block;
  user-select: none; /* Standard */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
}

.map-button:hover {
  background: #ddd;
}

.zoom-button {
  color: #646464;
  border-radius: 2px;
  font-family: "Inconsolata";
  font-size: 28px;
  text-align: center;
  padding: 0 10px;
  width: 36px;
  height: 36px;
}

#view-state-button {
  width: 70px;
  padding: 10px;
  border-radius: 2px;
  text-align: center;
}

#center-view-button {
  width: 36px;
  height: 36px;
  cursor: pointer;
  background: rgba(0,0,0,0);
  background: url("img/centerViewButton.png") center no-repeat;
  background-size: cover;
}
