*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100%;
}

.menu {
  position: fixed;
  width: 100%;
  height: 50px;
  background: #222;
  color: #fff;
  overflow: visible;
  z-index: 9999;
}

.menu-option {
  display: inline-block;
  color: #f2f2f2;
  padding: 17px;
  cursor: pointer;
  position: relative;
  user-select: none; /* Standard */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
}

.menu-option:hover {
  background-color: rgba(156, 39, 176, 0.8);
}

.dropdown {
  display: none;
  position: absolute;
  width: 275px;
  left: 0;
  top: 50px;
  background: #222;
}

.menu-option:hover .dropdown {
  display: block;
}

.dropdown-row {
  padding: 5px 20px;
  user-select: none; /* Standard */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
}

.dropdown-text {
  float: left;
  cursor: pointer;
  padding-right: 20px;
}

.dropdown-checkbox {
  float: right;
}

.clear {
  clear: both;
}

.sidebar {
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  width: 400px;
  background: #CE93D8;
  padding: 20px;
}

.sidebar .table-info {
  width: 100%;
  text-align: center;
}

.sidebar .table-info tr {
  padding: 10px 2px;
  font-size: 16px;
}

.sidebar .table-info tr:nth-child(odd) {
  font-weight: bold;
  font-size: 20px;
}

.sidebar .table-info td {
  width: 16.6666%;
}

.sidebar .table-info td:nth-child(odd) {
  text-align: right;
  padding: 10px 2px;
}

#map-container {
  position: fixed;
  top: 50px;
  left: 0;
  right: 400px;
  bottom: 0;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.controls {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 10px;
}

.map-button {
  background: #ccc;
  cursor: pointer;
  display: inline-block;
  user-select: none; /* Standard */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
}

.map-button:hover {
  background: #ddd;
}

.zoom-button {
  color: #646464;
  border-radius: 2px;
  font-family: "Inconsolata";
  font-size: 28px;
  text-align: center;
  padding: 0 10px;
  width: 36px;
  height: 36px;
}

#view-state-button {
  width: 70px;
  padding: 10px;
  border-radius: 2px;
  text-align: center;
}

#center-view-button {
  width: 36px;
  height: 36px;
  cursor: pointer;
  background: rgba(0,0,0,0);
  background: url("img/centerViewButton.png") center no-repeat;
  background-size: cover;
}

/* Mode slider */
.switch {
  position: relative;
  display: inline-block;
  /*left: 150px;*/
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #2196F3; /* Blue */
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00ff00; /* Green */
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
