* {
    padding: 0;
    margin: 0;
    text-align:center;
}

.map {
    background-color: #FAFAFA;
    height: 100vh;
    width:  75vw;
    display: block;
}

.mapButton {
    cursor:pointer;
    margin-left:20px;
    margin-bottom:20px;
    color:black;
    position:absolute;
    left:0;
    bottom:0;
}

button[name="viewStateButton"] {
    width:70px;
    content:"Hello";
    height:35px;
    color:black;
    font-size:14px;
    left:65px;
}

button[name="centerViewButton"] {
    width:45px;
    height:45px;
    border:0;
    background:rgba(0,0,0,0);
    background:url(centerViewButton.png) center no-repeat;
    background-size:45px;
}

.navbar {
    top:0;
    position:relative;
    overflow:hidden;
    background-color:#333;
    width:100%;
    transform:translate(-50%, -50%);
    margin-top:20px;
    margin-left:50%;
}

.navbar a {
    display: inline-block;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbarbutton {
    cursor:pointer;
    margin-left:-4px;
    font-family:"Palantinos", Verdana, sans-serif;
    color: white;
}

.navbarbutton:hover {
    background-color: rgba(156,39,176,0.8);
}